.site-header {
  min-height: 0;
  //padding: 15px 0;
}

.logo__img {
  width: auto;
  height: auto;
  max-width: 400px;
  max-height: 80px;
}


/* Inside Banner Styles */
.custom-header {
	background-image: url(/wp-content/themes/roots/assets/img/hero.jpg);
    background-size: cover;
    background-position: center center;
	padding-top: 165px;
	padding-bottom: 80px;
	color: #fff; 
	
	@include bp-md {
		padding-top: 230px;
		padding-bottom: 150px;	 	
	} 
}

.large-inside-header {
	background-image: url(/wp-content/themes/roots/assets/img/large-bg.jpg);
    background-size: cover;
    background-position: center center; 
    padding-top: 165px;
    padding-bottom: 140px;
    color: #fff;
    text-align: center;	
}


.site-header img{
	transition: ease .2s;
}

.inside-header {
	background-image: url('/wp-content/themes/roots/assets/img/hero.jpg');
	background-size: cover;
	background-position: center center;
	padding-top: 145px;
	padding-bottom: 25px;
	@include bp-md {
		padding-top: 180px;
	}
	h1 {
		text-align: center;
		color: #fff;
	} 	
}