/* ******************* *//* ******************* */
/* Site Style Guide */
/* ******************* *//* ******************* */


/* ******************* */
/* Import Site Font(s) */
/* ******************* */

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i');


/* ******************* */
/* General Elements */
/* ******************* */


html {
  font-size: 16px;
  background-color: #fff;  
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}
body {  
  color: #321F09;
  font-family: Georgia,'Montserrat', arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  padding-top: 0;
  padding-bottom: 0;
  background-color: #C8882E;

}
h1, h2, h3, h4, h5, h6 {
  color: #752C1B;
  font-family: Georgia, 'Montserrat', arial, sans-serif;
  font-weight: 400;
  letter-spacing: -0.033em;
  line-height: 1.125;
  margin-bottom: 24px;
  margin-top: 0;
}

h1 { font-size: 60px; }
h2 { font-size: 42px;}
h3 { font-size: 32px; }
h4 { font-size: 24px; }
h5 { font-size: 16px; }
h6 { font-size: 12px; }


p {
  font-weight: 400;
  line-height: 1.625;
}

p.text, p.none, p.desc, p.intro, p.final {
  margin-bottom: 24px;
  font-weight: 400;
  line-height: 1.625;
}

p.intro {
  font-size: 18px;
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
}

p.lead {
  font-size: 20px;
  margin-bottom: 32px;
  opacity: 0.75;
}

strong, b {
  font-weight: 700;
}

a {
  color: #BF5514;
}
a:focus, a:hover {
  text-decoration: none;
  color: inherit;
}

p a.underline{
  border-bottom: 1px dotted currentColor;
  padding-bottom: 0.05em;
  transition: .2s ease-in-out;
}

p a:hover{
  opacity: .8;
}

ol, ul {
  margin-bottom: 24px;
}
hr {
  margin-top: 24px;
  margin-bottom: 24px;  
  border: 0;
  border-top: 1px solid rgba(191,85,20,0.125);
}
blockquote {
  max-width: 640px;
  width: 100%;
}

table {
}
table tr {}
table td {}


/* Forms Basic */

INPUT, SELECT, TEXTAREA {
  background-color: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(0,0,0,0.125);
  border-radius: 3px;
  box-shadow: none;
  color: #321F09;
  /*[disabled]line-height:1;*/
  padding: 0.8em;
  width: 100%;
}
INPUT:focus, TEXTAREA:focus {
  border: 1px solid #999;
  outline: none;
}
INPUT[type="checkbox"], INPUT[type="image"], INPUT[type="radio"] {
  width: auto;
}
BUTTON, INPUT[type="button"], INPUT[type="reset"], INPUT[type="submit"], .button {
  cursor: pointer;
  width: auto;
}
BUTTON:hover, INPUT:hover[type="button"], INPUT:hover[type="reset"], INPUT:hover[type="submit"], .button:hover {
  color: #FFF;
}
INPUT[type="search"]::-webkit-search-cancel-button, INPUT[type="search"]::-webkit-search-results-button {
  display: none;
}



/* ******************* */
/* Background Colors */
/* ******************* */

[class*="bg-"]:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.85;
}
[class*="bg-color"] * {
  color: #fff;
}
.bg-white, .bg-white:before {
  background-color: #fff; 
}
.bg-offwhite, .bg-offwhite:before {
  background-color: #F5EBA6;
}
.bg-offwhite2, .bg-offwhite2:before {
  background-color: #F5EBA6;
}
.bg-color-dark, .bg-color-dark:before {
  background-color: #321F09;
}
.bg-color-dark2, .bg-color-dark2:before {
  background-color: #482D0D;
}
.bg-color-primary, .bg-color-primary:before {
  background-color: #752C1B;
}
.bg-color-secondary, .bg-color-secondary:before {
  background-color: #BF5514;  
}
.bg-color-tertiary, .bg-color-tertiary:before {
  background-color: #C8882E;  
}
.bg-color-accent1, .bg-color-accent1:before {
  background-color: #E8B856;
}
.bg-color-accent2, .bg-color-accent2:before {
  background-color: #EEBE09;  
}
.bg-color-accent3, .bg-color-accent3:before {
  background-color: #678aa1;
}
.bg-offwhite:before {
  background-image: url("/wp-content/themes/roots/assets/img/paper-texture.jpg");
  background-size: 250px;
  background-position: center center;
  background-repeat: repeat;
}
.bg-offwhite:before {
	border: 4px double rgba(191,85,20,0.16);
	width: calc(100% - 25px);
	height: calc(100% - 25px);
	/*margin: auto;*/
	position: absolute;
	top: 50%;
	left: 50%;	
	transform: translate(-50%,-50%);
}
.bg-color-dark, .bg-color-dark2, .bg-color-primary {
	border-top: 5px dashed rgba(191,85,20,0.125);
  border-bottom: 5px dashed rgba(191,85,20,0.125);
}
.bg-color-dark:before, .bg-color-dark2:before, .bg-color-primary:before {
	background-image: url("/wp-content/themes/roots/assets/img/leather-pattern.jpg");
  background-size: 600px;
  background-position: center center;
  opacity: 0.25;
  background-repeat: repeat;
  
}

.bg-color-dark hr, .bg-color-dark2 hr, [class*="bg-color"] hr {
	border-top-color: rgba(250,250,250, 0.125);
	border-style: dashed;
}

/* Background Image Classes */


.bg-img-livingheritage.section:before {
  background-image: url("/wp-content/themes/roots/assets/img/lht-aged-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 66%;
  opacity: 0.8;
}

/* ******************* */
/* Buttons */
/* ******************* */

.btn {
  padding: 1em 2em;
  border-radius: 4px;
  border: 2px solid inherit;
  transition: all 0.125s ease-in-out;
  font-weight: 700;
  box-shadow: 0px 5px 12px -3px rgba(0,0,0,0.33);
}
.btn * { /* This is super important for icons to adopt the correct colors */
  color: inherit;
}
.btn:hover i {
  color: inherit;
} 
.btn.btn-default {
  background-color: #482D0D;
  color: #fff;
}
.btn.btn-primary {
  background-color: #752C1B;
  color: #fff;
  border: none;
}
.btn.btn-secondary {
  background-color: #BF5514;
  color: #fff;
}
.btn.btn-tertiary {
  background-color: #C8882E;
  color: #fff;
}
.btn.btn-accent {
  background-color: #f59e12;
  color: #fff;
}
.btn.btn-light {
  background-color: #fff;
  color: #752C1B;
}
.btn.btn-dark {
  background-color: #321F09;
  color: #fff;
}
.btn.btn-ghost {
  border: 2px solid #0157ac;
  color: #0157ac;
}
.btn.btn-ghost:hover {
  background-color: #0157ac;
  color: #fff;
}
.btn.btn-ghost-light {
  border: 2px solid #fff;
  color: #fff;
}
.btn.btn-ghost-light:hover {
  color: currentColor;
  background-color: rgba(250,250,250,0.25);
}
.btn.btn-ghost-dark {
  border: 2px solid #321F09;
  color: #321F09;
}
.btn.btn-ghost-dark:hover {
  background-color: #003466;
  color: #fff;
}
.btn.btn-primary-gradient {
  background-color: #752C1B;
  background: rgb(29,125,177);
  background: linear-gradient(180deg, #752C1B, #752C1B);
  color: #fff;
}
.btn .fa {
  font-size: 1.25em;
  position: relative;
  top: 2px;
  margin-left: 0.33em;
  margin-right: 0.33em;
  color: inherit;
}


/* ******************* */
/* Typography */
/* ******************* */


.highlight {
  color: #2e96c2 !important;
}
.highlight-primary {
  color: #752C1B !important;
}
.highlight-secondary {
  color: #BF5514 !important;
}
.highlight-tertiary {
  color: #C8882E !important;
}
.highlight-accent1 {
  color: #E8B856 !important;
}
.highlight-accent2 {
  color: #EEBE09 !important;
}
.highlight-accent3 {
  color: #678aa1 !important;
}


/* Titles */

.title, [class*="title-"] {
  display: block;
  letter-spacing: -0.05em;

}
.title:after, [class*="title-"]:after {
  content: '';
}
.text-center .title:after, .title.text-center:after, [class*="title-"].text-center:after, .text-center [class*="title-"]:after {
  margin-left: auto;
  margin-right: auto;
}
.title-primary {
  color: #752C1B;
}
.title-primary:after {
  border-color: #752C1B;
}
.color-bg .title:after {
  border-color: rgba(250,250,250,0.75);
}



/* ******************* */
/* Icons */
/* ******************* */

.icon {
  color: #fff;
  height: 120px;
  width: 120px;
  border-radius: 100px;
  background-color: #999;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  margin-top: 24px;
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
}
.icon i.fa {
  font-size: 60px;
  position: relative;
}
.icon:hover i.fa {
  color: #fff;
}
.icon.small-icon {
  height: 90px;
  width: 90px;
  border-radius: 90px;
}
.icon.small-icon i.fa {
  font-size: 42px;
}
.icon.large-icon {
  height: 220px;
  width: 220px;
  border-radius: 220px;
}
.icon.large-icon i.fa {
  font-size: 120px;
}
.icon .fa.fa-pie-chart, .icon .fa.fa-bar-chart, .icon .fa.fa-cubes {
  right: -3%;
}
.icon .fa.fa-cubes {
  top: -1%;
}
.icon .fa.fa-balance-scale {
  right: -2%;
}
.icon .fa.fa-sitemap {
  top: -0.07em;
  right: -1%;
}
.icon .fa.fa-play {
  top: -0.033em;
  right: -5%;
}

.text-block {
	background-color: #F5EBA6;
	background-image: url("/wp-content/themes/roots/assets/img/paper-texture.jpg");
	background-size: 250px;
	background-position: center center;
	background-repeat: repeat;
}
.text-block:before {
	content: '';
	display: block;
	border: 4px double rgba(191,85,20,0.16);
	width: calc(100% - 25px);
	height: calc(100% - 25px);
	/*margin: auto;*/
	position: absolute;
	top: 50%;
	left: 50%;	
	transform: translate(-50%,-50%);
}

/* ******************* *//* ******************* */
/* Site Constants - Headers, Navbar, Site Main, Footer, etc. */
/* ******************* *//* ******************* */

body {
  background-color: #C8882E;
  background-image: url("/wp-content/themes/roots/assets/img/background-texture.jpg");
  background-size: 249px;
  background-repeat: repeat;
  background-position: center center;
}
body * { 
	position: relative; 
}
body:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("/wp-content/themes/roots/assets/img/background-full.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% -250px;
  opacity: 1;
  box-shadow: inset 0px 0px 40px rgba(0,0,0,0.5);
}
/*body.home:before {
	background-position: center top;
}*/



/* ******************* */
/* Site Header */
/* ******************* */

.site-header {
  background-color: #C8882E;
  background-color: transparent;
  height: auto; /* "auto" = normal height, "0px" = header-overlay */
}
/*.site-header:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("/wp-content/themes/roots/assets/img/background-texture.jpg");
  background-size: 249px;
  background-repeat: repeat;
  background-position: center center;
  opacity: 0.9;
}*/
.site-header .container {
  max-width: 1360px;
}
.site-header .header__wrap {
  padding-top: 15px;
  padding-bottom: 15px;
  display: block;
  /*background-color: #F0E59E;*/
}
.site-header .header__wrap .container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

/* Site Logo */

.site-header .logo {
  margin-top: -60px;
  text-align: center;
}
.site-header .logo__img {
  width: 100%;
  /*max-width: 260px;*/
  max-width: 380px;
  max-height: 145px;
}


/* Above Nav / Before Header*/

.before-header {
  display: block;
  background-color: transparent;
  padding-top: 30px;
  padding-bottom: 0px;  
  margin: 0px;
  font-size: 16px;
  position: relative;
  color: #fff;
  text-shadow: 0px 3px 8px rgba(0,0,0,0.33);
}
.before-header * {
  color: #fff;
}
.before-header:before {
  /*content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("/wp-content/themes/roots/assets/img/background-texture.jpg");
  background-size: 249px;
  background-repeat: repeat;
  background-position: center center;
  opacity: 0.8;*/
}
.before-header .container {
	padding-left: 30px;
  padding-right: 30px;
}
.above-nav .container {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}
.above-nav .container .widget {
  float: left;
  margin-left: 15px;
}
.above-nav p a {
  border-bottom: none;
}



/* ******************* */
/* Navigation */
/* ******************* */


/* Main Navigation */



.navbar {
  margin-bottom: 0;   
}

.navbar-default {
  border: none;

}
.navbar-default .navbar-nav>li>a {
  color: #fff;
  font-family: Georgia, 'Montserrat', arial, sans-serif;
  font-weight: 500;
  font-size: 22px;
  padding: 10px 15px;  
  /*text-transform: uppercase;*/
  text-shadow: 0px 3px 12px rgba(0,0,0,0.5);
  transition: all 0.125s ease-in-out;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #fff;
  background-color: rgba(191,85,20,0.75);
  box-shadow: 0px 4px 15px -4px rgba(0,0,0,0.33);
  text-shadow: none;

}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: #fff;
  background-color: rgba(191,85,20,0.75);
  box-shadow: 0px 4px 15px -4px rgba(0,0,0,0.33);
  text-shadow: none;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  background-color: transparent;
  background-color: rgba(191,85,20,0.75);
  color: #fff;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
  background-color: transparent;
}
.navbar-default .navbar-nav>li>a .caret {
  position: relative;
  top: -2px;
}

.navbar-header {
  padding: 0;
}

.navbar-nav {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-end;
}


/* Navbar Dividers */

.navbar-default .navbar-nav>li>a:after { 
  content: '';
  display: none; /* change display to "inline-block" to enable */
  height: 1em;
  width: 1px;
  background-color: #d4d4d4;
  transform: rotate(30deg);
  position: relative;
  right: -1.25em;
  top: 3px;

}
.navbar-default .navbar-nav >li:last-child a:after {
  display: none;
}

/* Navbar Call-to-Action Buttons */

.navbar-default .navbar-nav > li.btn {
  padding: 0.8em 1.6em 0.8em;
  margin-left: 24px;

}
.navbar-default .navbar-nav > li.btn > a {
  padding: 0;
  color: #fff;
  line-height: 1.125;
}


/* Navbar Dropdown Menu */

.navbar-nav .dropdown-menu {
  min-width: 240px;
  padding: 5px 10px;
  border: 0px solid rgba(0,0,0,0.125);
  font-family: Georgia, 'Montserrat', arial, sans-serif;
  border-radius: 5px;
  background-color: rgba(0,0,0,0.66);
  box-shadow: 0px 8px 30px -4px rgba(0,0,0,0.5);
}
.navbar-nav .dropdown-menu [class*="menu-item-"] {
  border-bottom: 1px solid rgba(100,100,100,0.125);
}
.navbar-nav .dropdown-menu [class*="menu-item-"]:last-child {
  border-bottom: none;
}
.navbar-nav .dropdown-menu [class*="menu-item-"] a {
  padding-top: 0.66em;
  padding-left: 0.5em;
  padding-bottom: 0.66em;
  color: #fff;
  transition: all 0.125s ease-in-out;
}
.navbar-nav .dropdown-menu [class*="menu-item-"] a:hover {
  color: #EEBE09;
  background-color: transparent;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
  background-color: transparent;
  color: #EEBE09;
}
/*.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
	color: #fff;
}
*/



/* Mobile Nav */

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: rgba(250,250,250,0.25);
    margin-left: auto;
}


/* ******************* */
/* Page Headers */
/* ******************* */

.inside-header {
  background-color: transparent;
  background-image: none;
  padding-top: 120px; /* Compensates for .site-header { height: 0px; } */
  padding-bottom: 36px;
  text-align: left;
  position: relative;

}
.inside-header:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /*background-image: url("/wp-content/themes/roots/assets/img/metal-hex-bg.jpg");*/
  background-size: cover;
  background-position: center center;
  opacity: 0.125;

}
.image-header h1, .inside-header h1 {
  color: #FFF;
  font-size: 60px; 
  text-shadow: 0px 4px 16px rgba(0,0,0,0.33);
}


/* Inner Page Custom Headers */

.custom-header {
  background-color: #616264;
  padding-top: 60px;
  padding-bottom: 60px;
}
.custom-background-header {
  position: relative;
}
.custom-header, .custom-background-header * {
  position: relative;
  color: #FFF;
}
.custom-header:before, .custom-background-header:before {
  content:'';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #264e6c;
  opacity: 0.33;

}
.custom-header .lead {

}
.custom-header .lead a {
  color: inherit;
  text-decoration: none;
  padding-bottom: 0.125em;
  border-bottom: 1px dotted currentColor;
}
.custom-header .title {
  color: #fff;
}
.custom-header .lead a:hover {
  color: inherit;
}



/* ******************* */
/* Site Main */
/* ******************* */


.site-main {
/*padding-top: 72px;
padding-bottom: 72px;*/
background-color: #FFF;
background-color: #F5EBA6;
box-shadow: 0px 0px 40px rgba(0,0,0,0.5);
}
.site-main:before {
	content: '';
	background-image: url("/wp-content/themes/roots/assets/img/paper-texture.jpg");
	background-size: 250px;
	background-position: center center;
	background-repeat: repeat;
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.85;
}

body.home .site-main, body.home .site-main:before {
  background-image: none;
  background-color: transparent;
  padding-top: 0px;
	padding-bottom: 0px;
	box-shadow: none;
}


/* ******************* */
/* Footer */
/* ******************* */

.site-footer {
  background-color: #321F09;
  font-size: 14px;
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;

}
.site-footer:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("/wp-content/themes/roots/assets/img/leather-pattern.jpg");
  background-size: 600px;
  background-position: center center;
  opacity: 0.25;
  background-repeat: repeat;
}
.site-footer * {
  color: rgba(250, 250, 250, 1);
}
.site-footer .container {
	max-width: 1360px;
}

/* Footer Upper */

.site-footer .footer-upper {
	border-top: 5px dashed rgba(191,85,20,0.125);
  padding-top: 60px;
  padding-bottom: 36px;

}
.site-footer img.logo {
  max-width: 475px;
  margin-bottom: 24px;
  width: 90%;
  top: 0px;
  position: relative;
}
.footer-upper {
  padding-top: 4em;
  padding-bottom: 0em;
}
.footer-upper .widget {
  margin-bottom: 42px;
}
.footer-upper .widget h3 {
  color: rgba(250, 250, 250, 1);
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}
.footer-upper .widget a {
  color: rgba(250, 250, 250, 1);
  font-weight: 500;
}
.footer-upper .widget .menu {
  list-style-type: none;
  padding-left: 0em;
}
.footer-upper .widget .menu [class*='menu-item']{
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}
.footer-upper .widget .menu [class*='menu-item'] a {
  text-decoration: none;
  font-weight: 500;
  opacity: 1;
  transition: all 0.125s ease-in-out;
}
.footer-upper .widget .menu [class*='menu-item'] a:hover {
  color: #EEBE09;
  opacity: 1;
}
.footer-upper .widget .menu [class*='menu-item'] .dropdown-menu, .footer-upper .widget .menu [class*='menu-item'] .dropdown-toggle .caret {
  display: none; /* No dropdown menus in footer */

}
.footer-upper .widget[class*='recent-posts'] {

}
.footer-upper .widget[class*='recent-posts'] ul {
  list-style-type: none;
  padding-left: 0em;
}
.footer-upper .widget[class*='recent-posts'] ul li {
  margin-bottom: 16px;
}




/* Footer Bottom */

.site-footer .footer-bottom {
  font-size: 12px;
  padding-top: 15px;
  padding-bottom: 24px;
  background-color: transparent;
  border-bottom: 5px dashed rgba(191,85,20,0.125);
}
.site-footer .footer-bottom * {
  opacity: 0.75;
}
.site-footer .footer-bottom p {
  margin-bottom: 0;
}



/* ******************* *//* ******************* */
/* Blog */
/* ******************* *//* ******************* */


/* Blog Index */

body.blog .standard-header {
  text-align: center;
}
body.blog .site-main.wrapper {

}
body.blog .site-main.wrapper .container {
  max-width: 800px;
  width: 100%;
}

body.blog .post {
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: 1px solid rgba(0,0,0,0.125);

}
body.blog .post .entry-title {
  margin-bottom: 16px;
}
body.blog .post .published, body.blog .post .author {
  color: #999;
  font-size: 14px;
}
body.blog .post .published {}
body.blog .post .author {
  margin-bottom: 16px;
}


/* Single Post */

body.single.post-template-default .site-main.wrapper {}
body.single.post-template-default .site-main.wrapper .container {
  max-width: 800px;
  width: 100%;
}

body.single .post .entry-title {
  margin-bottom: 16px;
  font-size: 48px;
}
body.single .post .published, body.single .post .author {
  color: #999;
  font-size: 14px;
}
body.single .post .published {}
body.single .post .published:before {
  content: 'Posted ';
}
body.single .post .author {
  margin-bottom: 36px;
}


/* Single Post Headers */

body.single .standard-header {
  background-color: #003466;
  padding-top: 36px;
  padding-bottom: 36px;
  display: none;

}
body.single .standard-header .container {
  width: 100%;
  max-width: 960px;
}
body.single .image-header h1, body.single .standard-header h1 {
  color: #FFF;

}
body.single .entry-content p {
  margin-bottom: 24px;
}



/* Single Post Headers */

.single-post #comments .alert-warning {
  display: none;
}


/* Featured Posts */

.featured-posts.section [class*="title-"] {
  margin-bottom: 48px;
}


/* ******************* *//* ******************* */
/* Widgets */
/* ******************* *//* ******************* */

.widget.widget_recent_entries {

}
.widget.widget_recent_entries .post-date {
  display: block;
  opacity: 0.75;
}


/* Constanct Contact Email Signup */

.cc-signup form {
	display: flex;
	border-radius: 5px;
	overflow: hidden;
	width: 100%;
	max-width: 480px;
}
.cc-signup form br {
	display: none;
}
.cc-signup form input {
	border-radius: 0px;
}
.cc-signup form input.submit {
	background-color: #BF5514;
    color: #fff;
    padding: 0.5em 1.5em;
}


/* Meta Slider */

.metaslider {

}
.metaslider .slides {
	border-radius: 5px;
	overflow: hidden;
	margin-bottom: 36px;
}
.metaslider .slides > li {

}
.metaslider .slides .caption-wrap {
	width: 60%;
	height: 100%;
	padding: 20px 30px !important;
	background: transparent;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	opacity: 1;
}
.metaslider .slides .caption-wrap .caption {
	color: #321F09;
	padding: 20px !important;
	background: rgba(245,235,166,0.75);
	border-radius: 5px;
	box-shadow: 0px 5px 40px -5px rgba(0,0,0,0.5);
	opacity: 1;
}
.metaslider .slides .caption-wrap .caption * {
	position: relative;
}
.metaslider .slides .caption-wrap .caption .title {
	color: #fff !important;
	text-shadow: -1px 1px 4px rgba(0,0,0,0.66);
	margin-top: 16px;
	margin-bottom: 10px;
}
.metaslider .slides .caption-wrap .caption .desc {
	text-shadow: 0px 0px 15px #E5E5E5;
	margin-bottom: 16px;
	height: auto;
	overflow: auto;
	/*max-height: 180px;*/
	font-size: 16px;
}


/*.home .slider.section .metaslider {
	box-shadow: 0px 5px 40px -5px #512905;
}*/

.metaslider-4911.metaslider {
	box-shadow: 0px 5px 30px -8px #512905;
}

.metaslider-4911.metaslider .flex-control-nav {
	bottom: -35px;
}
.metaslider-4911.metaslider .flex-control-paging li a {
	background: rgba(250,250,250,0.5);
	transition: all 0.33s ease-in-out;
	box-shadow: 0px 4px 15px -2px rgba(0,0,0,0.5) !important;
}
.metaslider-4911.metaslider .flex-control-paging li a.flex-active {
	background: rgba(250,250,250,1);
}



/* ******************* */
/* Site Sections */
/* ******************* */

/* Hero Sections */

.hero.section {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  min-height: 480px;
  overflow: hidden;
  background-color: rgba(0,0,0,0.9);
  background-image: url("/wp-content/themes/roots/assets/img/trucks.jpg");
  background-size: cover;
  background-position: center center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.hero.section:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.66;
  z-index: 0;
}
.hero .text-block {

}
.hero .img-block {

}
.hero .text-block p.desc {
  margin-bottom: 32px;
}
.hero.section .btn {
  margin-left: 5px;
  margin-right: 5px;
}

.slider.section .title {
  	color: #fff;
  	text-shadow: 0px 4px 16px rgba(0,0,0,0.33);
  }


/* Sliders */

.slide-text{
  position: relative;
  animation: slide .5s; 
  padding: 42px;
  border-radius: 5px;
  /* box-shadow: 0 6px 36px rgba(0,0,0,.125); */
}
@keyframes slide{
  0%{
    right: -100px;
    opacity: 0;
  }
  100%{
    right: 0px;
    opacity: 1;
  }
}





/* Call to Action Sections */

.call-to-action.section {
  padding-top: 80px;
  padding-bottom: 80px;
  text-shadow: 0px 3px 8px rgba(0,0,0,0.33);

}
.call-to-action.section:before {
   box-shadow: inset 0px 0px 40px -5px rgba(0,0,0,1);
}
.call-to-action .row {
  display: flex;
}

.call-to-action.section .employee-img {
  position: absolute;
  bottom: -82px;
  right: 16px;
  margin-bottom: 0;
  max-width: 300px;
}
.call-to-action.section .title {
	margin-bottom: 10px;
	font-size: 60px;
}
.call-to-action.section .btn {
  text-shadow: none;
}
.call-to-action.section .btn.btn-light {
  
}



/* ******************* */
/* Itinerary Section */
/* ******************* */

.itinerary.section .schedule {
	/*border: 1px solid rgba(0,0,0,0.5);*/
}
.itinerary.section .schedule li {
	position: relative;
	border-bottom: 1px solid rgba(191,85,20,0.125);
	margin-bottom: 32px;
	padding-bottom: 8px;

}
.itinerary.section .schedule li .image {
	width: 30.333%;
	float: left;
	clear: left;
}
.itinerary.section .schedule li .image img { 
	width: 100%;
	height: auto;
}
.itinerary.section .schedule li .description {
	width: 66.666%;
	float:right;
	
}
.itinerary.section .schedule li .description .title {
	margin-bottom: 10px;
	margin-top: 0;
}
.itinerary.section .schedule li .description .text {}
.itinerary.section .schedule li br {
	display: none;
	width: 0;
}



/* ******************* */
/* Pages */
/* ******************* */


/* Home Page */

.home .slider.section {
	padding-top: 60px;
	padding-bottom: 40px;
}

.home .welcome.section {
	box-shadow: 0px 5px 40px rgba(0,0,0,0.5);
}




/* ******************* */
/* Contact Page */
/* ******************* */


/* ******************* */
/* Testimonials Page */
/* ******************* */


/* ******************* *//* ******************* */
/* Plugin Overrides */
/* ******************* *//* ******************* */


/* ******************* */
/* Widgets on Pages */
/* ******************* */

.widgets_on_page ul {
  padding-left: 0px;
}
.widgets_on_page > ul, .widgets_on_page > ul li {
  margin-bottom: 0px;
}


/* ******************* */
/* Formidable */
/* ******************* */

.frm_style_formidable-style.with_frm_style select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  display: block;
}
.frm_style_formidable-style.with_frm_style select + i.fa {
  color: #00abd6;
  font-size: 1.5em;
  float:right;
  pointer-events: none;
  position: relative;
  top: -39px;
  right: 12px;
}
.frm_style_formidable-style.with_frm_style .frm_submit button {
  border-bottom: 5px solid rgba(0,0,0,0.125) !important;
  -moz-border-radius: px !important;
  -webkit-border-radius: 8px !important;
  -khtml-border-radius: 8px !important;
  border-radius: 8px !important;
}




/* ******************* */
/* Gravity Forms */
/* ******************* */

.gform_wrapper {
  font-size: 1rem;
}
.gform_wrapper .gform_heading {
}

/*Progress Bar - Custom Styles*/

.gform_wrapper .gf_progressbar_wrapper {
  padding: 1em 2em 1.8em !important;
  background-color: #FDFDFD;
  border: 1px solid rgba(0, 0, 0, 0.125) !important;
  border-bottom: 3px solid rgba(0, 0, 0, 0.125) !important;
}
.gform_wrapper .gf_progressbar_wrapper H3.gf_progressbar_title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.125em !important;
  text-align: center;
  display: block;
}
.gform_wrapper .gf_progressbar_wrapper .gf_progressbar {
  border: 0px solid #FFFFFF;
  /*+border-radius: 2.3em;*/
  -moz-border-radius: 2.3em;
  -webkit-border-radius: 2.3em;
  -khtml-border-radius: 2.3em;
  border-radius: 2.3em;
  background: #E0E0E0 url(repeat);
  /*+box-shadow: 0px 0px rgba(99, 99, 99, 0.25);*/
  -moz-box-shadow: 0px 0px rgba(99, 99, 99, 0.25);
  -webkit-box-shadow: 0px 0px rgba(99, 99, 99, 0.25);
  box-shadow: 0px 0px rgba(99, 99, 99, 0.25);
  margin-top: 1em;
  height: auto;
}
/*[clearfix]*/
.gform_wrapper .gf_progressbar_wrapper .gf_progressbar .gf_progressbar_percentage {
  height: 100%;
  background: #0072BC url(repeat);
}
.gform_wrapper .gf_progressbar_percentage SPAN {
  height: 100%;
  line-height: 1.5;
  font-weight: 900 !important;
  font-size: 1em;
  /*+text-shadow:none;*/
  -moz-text-shadow: none;
  -webkit-text-shadow: none;
  -o-text-shadow: none;
  text-shadow: none;
  color: rgba(255, 255, 255, 0.99);
  margin: 0.3rem 0.8rem 0.3rem 0.9rem !important;
}


/* Paged Forms */

.gform_wrapper .gform_body {
}
.gform_wrapper .gform_page {
}


/* Field Containers */

.gform_wrapper .gsection {
  padding: inherit !important;
}
.gform_wrapper .gform_fields {
}
.gform_wrapper .gform_fields .gfield {
}
.gform_wrapper .gform_fields .gfield.left, .gform_wrapper .gform_fields .gfield.right {
  clear: none;
}
.gform_wrapper .gform_fields .gfield_label {
  margin-bottom: 0.5rem;
}
.gform_wrapper .gform_fields .gfield_description {
}
.gform_wrapper .gform_fields .gfield INPUT, .gform_wrapper .gform_fields .gfield SELECT, .gform_wrapper .gform_fields .gfield TEXTAREA {
  padding: 0.5em;
}
.gform_wrapper .gform_fields .gfield INPUT {
}
.gform_wrapper .gform_fields .gfield SELECT {
}
.gform_wrapper .gform_fields .gfield TEXTAREA {
  /*background-color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.85);*/
  /*border: 1px solid #CCCCCC;*/
  /*box-shadow: inset 0px 1px 3px -1px rgba(0, 0, 0, 0.2);*/
  /*color: #2E2F33;*/
}
.gform_wrapper .gform_fields .gfield INPUT.button {
  font-size: 1em;
  text-transform: uppercase;
  color: #8A8A8A;
  font-weight: bold;
  padding: 0.4em;
  line-height: 1.5;
}
.gform_wrapper .gform_fields .ginput_container {
  margin-top: 0px !important;
}
.gform_wrapper .gform_fields .ginput_complex LABEL {
  /*[disabled]font-style:italic;*/
  /*+opacity: 80%;*/
  -filter: alpha(opacity=80);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  -moz-opacity: 0.8;
  opacity: 0.8;
  font-size: 0.8em;
  letter-spacing: 0;
}
.gform_wrapper .ginput_complex .ginput_left, .gform_wrapper .ginput_complex .ginput_right {
  width: 47.85% !important;
}
.gform_wrapper UL.gfield_checkbox, .gform_wrapper UL.gfield_radio {
}
.gform_wrapper UL.gfield_checkbox LI, .gform_wrapper UL.gfield_radio LI {
  overflow: visible !important;
}
.gform_wrapper UL.gfield_checkbox LI LABEL, .gform_wrapper UL.gfield_radio LI LABEL {
  font-weight: normal;
}
.gform_wrapper UL.gfield_checkbox LI INPUT[type=checkbox]:checked + LABEL, .gform_wrapper UL.gfield_radio LI INPUT[type=radio]:checked + LABEL {
  font-weight: 700;
}
.gfield_description + .ginput_container_checkbox, .gfield_description + .ginput_container_radio {
  padding-top: 0.5em;
}
.gform_wrapper .gform_footer INPUT.button, .gform_wrapper .gform_footer INPUT[type=submit] {
  color: #FFFFFF;
  font-family: inherit;
  width: auto;
  min-width: 25%;
  background-color: #BF5514;
  padding: 0.8em 2.5em;
  border: none;
  transition: all 0.125s ease-in-out;
}

/*Controler Icons*/

.gform_wrapper TABLE.gfield_list TD.gfield_list_icons IMG {
  background-position: center center;
  background-repeat: no-repeat;
  padding: 0.6em;
  margin-left: 0px !important;
  margin-right: 0px;
}
.gform_wrapper .gform_fields .gfield INPUT.gform_button_select_files {
  cursor: pointer !important;
}
.gform_wrapper .gform_fileupload_multifile .gform_drop_area {
  background-color: #FFFFFF;
}

/*Form Footer Controls*/

.gform_wrapper .gform_page_footer {
  background-color: #F9F9F9;
  padding: 1em !important;
  border: 1px solid rgba(83, 83, 83, 0.125) !important;
  /*+border-radius: 2px;*/
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
}
.gform_wrapper .gform_page_footer INPUT.button {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 600;
  color: #8A8A8A;
}
.gform_wrapper .gform_page_footer INPUT.gform_next_button {
}
.gform_wrapper .gform_page_footer .gform_save_link {
  background-color: #9C9C9C;
  padding: 0.6em 0.8em;
  color: #FFFFFF !important;
  /*+border-radius: 3px;*/
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  /*+placement: shift 0px -2px;*/
  position: relative;
  left: 0px;
  top: -2px;
  text-decoration: none;
  font-size: 0.9em;
  /*+opacity: 85%;*/
  -filter: alpha(opacity=85);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
  -moz-opacity: 0.85;
  opacity: 0.85;
}
.gform_wrapper .gform_page_footer .gform_save_link:hover {
  /*+opacity: 100%;*/
  -filter: alpha(opacity=100);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  -moz-opacity: 1;
  opacity: 1;
}


/*Saved Form Message*/

.gform_wrapper .form_saved_message {
  background-color: #F9F9F9 !important;
  border: 7px solid rgba(97, 97, 97, 0.125) !important;
  font-size: 1.125em !important;
  line-height: 1.5 !important;
}
.gform_wrapper .form_saved_message INPUT[type="email"] {
  width: 100%;
  max-width: 540px;
  padding: 0.7em;
  text-align: center;
}
DIV.form_saved_message DIV.form_saved_message_emailform FORM INPUT[type=submit] {
  font-size: 1em;
  padding: 0.7em;
  text-transform: uppercase;
  color: #7B7B7B;
  font-weight: bold;
  max-width: 540px;
  width: 100%;
}

/*Mobile Layout Fixes*/

@media screen and (max-width: 991px) {
  .gform_wrapper .gform_fields.top_label LI.gfield.gf_left_half, .gform_wrapper .gform_fields.top_label LI.gfield.gf_right_half, .gform_wrapper .gform_fields.top_label LI.gfield.gf_left_third, .gform_wrapper .gform_fields.top_label LI.gfield.gf_middle_third, .gform_wrapper .gform_fields.top_label LI.gfield.gf_right_third {
    width: 100% !important;
    margin-left: 0px !important;
  }
  .gform_wrapper LI.gfield.gf_2col UL.gfield_checkbox LI, .gform_wrapper LI.gfield.gf_2col UL.gfield_radio LI, .gform_wrapper LI.gfield.gf_list_2col UL.gfield_checkbox LI, .gform_wrapper LI.gfield.gf_list_2col UL.gfield_radio LI {
    width: 100% !important;
  }
  .gform_wrapper LI.gfield.gf_3col UL.gfield_checkbox LI, .gform_wrapper LI.gfield.gf_3col UL.gfield_radio LI, .gform_wrapper LI.gfield.gf_list_3col UL.gfield_checkbox LI, .gform_wrapper LI.gfield.gf_list_3col UL.gfield_radio LI {
    width: 100% !important;
  }
  .gform_wrapper LI.gfield.gf_4col UL.gfield_checkbox LI, .gform_wrapper LI.gfield.gf_4col UL.gfield_radio LI, .gform_wrapper LI.gfield.gf_list_4col UL.gfield_checkbox LI, .gform_wrapper LI.gfield.gf_list_4col UL.gfield_radio LI {
    width: 100% !important;
  }
  .gform_wrapper LI.gfield.gf_5col UL.gfield_checkbox LI, .gform_wrapper LI.gfield.gf_5col UL.gfield_radio LI, .gform_wrapper LI.gfield.gf_list_5col UL.gfield_checkbox LI, .gform_wrapper LI.gfield.gf_list_5col UL.gfield_radio LI {
    width: 100% !important;
  }
}


/* ******************* */
/* Simple Social Icons */
/* ******************* */

.simple-social-icons UL, .simple-social-icons UL LI:first-child {
  margin-left: 0px !important;
  color: #1B75BB;
}
.simple-social-icons LI { 

}
.simple-social-icons LI A {
  -webkit-transition: -webkit-transform 0.4s ease-out;
  -moz-transition: -moz-transform 0.4s ease-out;
  transition: transform 0.4s ease-out;
  padding: 0px;
  transition: all 0.33s ease-in-out;
  filter: alpha(opacity=100);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  -moz-opacity: 1;
  opacity: 1;
  position: relative;
  -moz-text-shadow: none;
  -webkit-text-shadow: none;
  -o-text-shadow: none;
  text-shadow: none;
  font-size: 0.8rem !important;
}
.simple-social-icons LI A:before {
  content: '';
  position: absolute;
  left: 0px;
  top: 0px;
  -moz-border-radius: inherit;
  -webkit-border-radius: inherit;
  -khtml-border-radius: inherit;
  border-radius: inherit;
  width: 100%;
  height: 100%;
}
.simple-social-icons LI A:hover {
  filter: alpha(opacity=80);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  -moz-opacity: 0.8;
  opacity: 0.8;
}


/* Simple Social Icons - Above Header */

.before-header .widget.simple-social-icons ul li[class*="ssi-"] {
  margin-bottom: 0px !important;
}
.before-header .widget.simple-social-icons ul li[class*="ssi-"] * {
  color: #333; !important;
}
.before-header .widget.simple-social-icons ul li[class*="ssi-"] a, .before-header .widget.simple-social-icons ul li[class*="ssi-"] a:hover {
  padding: 0.33em;
  background-color: #fff !important;
}


/* Simple Social Icons - Footer */
.footer-main .widget .simple-social-icons ul li[class*="ssi-"] {
  margin-bottom: 0px !important;
}
.footer-main .widget .simple-social-icons ul li[class*="ssi-"] * {
  color: #235d83 !important;
}
.footer-main .widget .simple-social-icons ul li[class*="ssi-"] a {
  padding: 0.33em;
  background-color: #fff !important;
}



/* ******************* */
/* Content Views - Posts */
/* ******************* */

.pt-cv-wrapper .btn {
  margin-top: 15px;
}
.pt-cv-view {

}
.pt-cv-view .pt-cv-href-thumbnail {

}
.pt-cv-view .pt-cv-href-thumbnail .pt-cv-thumbnail {
  object-position: center;
  object-fit: cover;
  height: 250px;
  margin-bottom: 24px !important;

}

/* ******************* *//* ******************* */
/* Media Queries */
/* ******************* *//* ******************* */

@media only screen and (max-width:1366px) {

	body:before {
		background-position: 50% -100px;
	}

	body.home:before {
    background-position: center top;
    background-size: cover;
    height: 1080px;
  }
  
  .site-header .logo {
  	margin-top: -50px;
  }
  .site-header .logo__img {
		max-width: 360px;
	}
  .navbar-default .navbar-nav>li>a {
    font-size: 22px;
  }

  .text-block:before {
  	width: calc(100% - 0px);
  	border-left-width: 0;
    border-right-width: 0;
  }
  .text-block .text-block-inner {
		width: 90%;
	}

	.home .slider.section {
		padding-top: 50px;
		padding-bottom: 50px;
	}

}
@media only screen and (max-width: 1024px) {

	body:before {
		background-position: 50% -90px;
	}

	h1 { font-size: 42px; }
h2 { font-size: 32px; }
h3 { font-size: 24px; }
h4 { font-size: 16px; }
h5 { font-size: 12px; }
h6 { font-size: 10px; }

.btn {
		width: auto;
		max-width: 320px;
		margin-bottom: 5px;
	}

	.section {
		padding-top: 80px;
		padding-bottom: 80px;
	}
  
  .before-header {
  	padding-top: 20px;
  }
  .site-header .logo__img {
		max-width: 260px;
	}
	 .navbar-default .navbar-nav>li>a {
    font-size: 18px;
  }

  .site-footer {
    font-size: 12px;
  }
  .site-footer img.logo {
  	max-width: 360px;
  }

  .inside-header {
  	padding-top: 30px;
  }
  .image-header h1, .inside-header h1 {
  	font-size: 42px;
  }
	
	.text-block {
		padding: 50px 0px;
	}
	.text-block:before, .bg-offwhite:before {
  	width: calc(100% - 0px);
  	border-left-width: 0;
    border-right-width: 0;
  }
	
	.text-block .text-block-inner {
		width: 90%;
	}

}
@media only screen and (max-width: 1023px) {
  body:before {
		background-position: 50% 0px;
	}
}
@media only screen and (max-width: 768px) {
  .grid-container, .grid-container.text-image, .grid-container.image-text {
    grid-template-areas: 
      "img-block img-block"
      "text-container text-container";

  }   
  .grid-container .text-block, .grid-container.text-image .text-block, .grid-container.image-text .text-block {
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
  }
  .grid-container .text-block .text-block-inner, .grid-container.text-image .text-block .text-block-inner, .grid-container.image-text .text-block .text-block-inner {
    padding: 0px;
    margin: auto;
  }

  .image-header h1, .standard-header h1 {
    font-size: 60px;
  }

  .hero {
    max-height: none;

  }
  .hero .text-block {
    max-height: none;
  }

  /* MetaSlider Overrides */
  .metaslider .slides {
  	overflow: visible;
  }
  .metaslider .slides .caption-wrap {
  	width: 100%;
  	padding: 0px !important;
  	display: block;
  	position: relative;

  }
  .metaslider .slides .caption-wrap .caption {
  	padding: 10px;
  	border-top-left-radius: 0px;
  	border-top-right-radius: 0px;
  }
  .metaslider .slides .caption-wrap .caption .title {
  	font-size: 24px;
  	margin-top: 0;
  }
  .metaslider .slides .caption-wrap .caption .desc {
  	font-size: 14px;
  	height: 130px;
  	overflow: auto;

  }
	.metaslider-4911.metaslider .flex-control-nav {
		bottom: -36px;
	}

  .metaslider-4911.metaslider {
  	box-shadow: none;
  }


}
@media only screen and (max-width: 767px) {
	
	body {
		background-size: 50px;
	}

	body:before {
		box-shadow: none;
		background-position: 50% -40px;
		background-size: cover;
		height: 350px;
	}

	.btn {
		width: auto;
		max-width: 320px;
		margin-bottom: 5px;
	}
	.section {
		padding-top: 46px;
    padding-bottom: 46px;
	}
	.grid-container .text-block, .grid-container.text-image .text-block, .grid-container.image-text .text-block {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	
	.before-header {
		padding-top: 15px;
		display: none;
	}
	.site-header .header__wrap {
		padding-top: 10px;
		padding-bottom: 0;
	}

	.site-header .header__wrap .container {
  flex-flow: row wrap;
  
}
	.site-header .logo {
		margin-top: 0;
	}
	.site-header .logo__img {
		max-width: 200px;
	}
	.navbar-header {
		width: 100%;
		margin-left: 0px !important;
		margin-right: 0px !important;
	}
	.navbar-nav {
		display:block;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		margin-left: 0;
		margin-right: 0;
		width: 100%;
	}
	.navbar-default .navbar-nav .open .dropdown-menu>li>a {
		color: #fff;
	}

	.call-to-action.section {
		padding-top: 42px;
		padding-bottom: 42px;
	}

	

	.site-main.wrapper {
	  padding-top: 36px;
	  padding-bottom: 36px;
	}


	.site-footer .footer-upper {
		padding-top: 32px;
		padding-bottom: 0px;
	}


	.site-footer .footer-bottom {
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.inside-header {
		padding-top: 24px;
		padding-bottom: 24px;
	}
	.image-header h1, .inside-header h1 {
		font-size: 32px;
		margin-bottom: 0;
	}

  body.single .post .entry-title {
    font-size: 36px;
  }

  .home .section {
    padding-top: 42px;
    padding-bottom: 42px;
  }

  .bg-img-livingheritage.section:before {
  	background-position: 0% 66%;
  }

  .call-to-action.section .title {
  	font-size: 42px;
  }

  .itinerary.section .schedule li .description .text {
	font-size: 14px;
}
 
}
@media only screen and (max-width: 480px) {
	
	body:before {
		box-shadow: none;
		height: 250px;
		background-position: 50% 0px;
	}

	.btn {
		width: 100%;
		max-width: 320px;
		margin-bottom: 10px;
	}

	.text-block:before, .bg-offwhite:before {
  	width: calc(100% - 0px);
  	border-left-width: 0;
    border-right-width: 0;
  }
  .text-block .text-block-inner {
		width: 100%;
	}

  /* Site Logo */

  .site-header .logo__img {
		max-width: 150px;
	}
  

  /* Above Nav */

  .above-nav {
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .above-nav .container .widget {
    margin-left: 8px;
  }
  .above-nav .container .widget #contact_info {
    display: none;
  }
  .above-nav .simple-social-icons ul li {
    margin: 0 3px !important;
  }

  /* Above Header */

  .above-header .connect {
    justify-content: space-between;
    float: none;
  }
  .above-header .connect li {
    margin-right: 0px;
    margin-left: 0px;
  }
  .above-header .connect li:first-child {
    margin-right: auto;
  }
  .above-header .connect .simple-social-icons ul li[class*="ssi-"] {
    margin-right: 5px !important;
    margin-left: 5px !important;
  }
  .above-header .connect .simple-social-icons ul li[class*="ssi-"] a, .above-header .connect .simple-social-icons ul li[class*="ssi-"] a:hover {
    font-size: 14px !important;
    padding: 0.4em;

  }

  /* Headers */

  .standard-header {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .image-header h1, .standard-header h1 {
    font-size: 24px;
  }

  /* Testimonials */

  .testimonials.section .container blockquote {
    width: 100%;
    width: calc(100% / 1);
    margin-bottom: 24px;
  }

  /* Home Page Sections */

  .slide-text {
    padding: 0px;
  }

  .pt-cv-wrapper .pt-cv-content-item {
    padding-bottom: 48px;
  }

  /* ******************* */
/* Itinerary Section */
/* ******************* */

.itinerary.section .schedule {
	/*border: 1px solid rgba(0,0,0,0.5);*/
}

.itinerary.section .schedule li .image, .itinerary.section .schedule li .description {
	width: 100%;
	float: left;
	clear: left;
}
.itinerary.section .schedule li .image img { 
	max-width: 100%;
	height: auto;
}
.itinerary.section .schedule li .description .text {
	font-size: 14px;
}


}


